.contact {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	user-select: none;
}

.contact a {
	border-bottom: 1px solid black;
}

.email {
	user-select: text;
	display: block;
	text-align: center;
}
