.contact {
	display: flex;
	padding: 1rem;
	flex-wrap: wrap;
	justify-content: center;
	user-select: none;
}

.contact a {
	border-bottom: 1px solid var(--main-color);
}

.emailContainer {
	user-select: none;
	display: block;
	text-align: center;
}

.email {
	user-select: text;
}
