html,
body {
	padding: 0;
	margin: 0;
	font-size: 15px;
	font-family: "Courier New", monospace;
	cursor: default;
}

:root {
	--main-color: rgb(20 20 20);
	--bg-color: white;
	--accent-color: rgb(71 92 224);
	--border-color: rgb(211 211 211);
}

img {
	user-select: none;
}

body {
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--main-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 1rem;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: 1rem;
	color: inherit;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: 1rem;
	padding: 0;
	margin: 0;
	font-weight: normal;
	width: 100%;
	color: inherit;
}

h1 {
	font-size: 1.8rem;
	font-weight: 600;
	user-select: text;
	cursor: text;
}

h2 {
	font-size: 1.3rem;
	font-weight: 600;
}

h3 {
	font-size: 1rem;
	font-weight: 500;
}

p {
	user-select: text;
	cursor: text;
}

.fullWidth {
	width: 100%;
}

::selection {
	color: var(--bg-color);
	background: var(--accent-color);
}

header {
	width: 100%;
}

.dashedLink {
	display: inline-block;
	border-bottom: 1px dashed var(--main-color);
}

.dashedLink a {
	text-decoration: none;
}

@media (hover: hover) {
	.dashedLink:hover {
		border-bottom-style: solid;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-color: rgb(218 218 218);
		--bg-color: rgb(20 20 20);
		--border-color: rgb(62 62 62);
		--accent-color: rgb(138 154 255);
	}
}
