.modal {
	max-width: 500px;
	max-height: 300px;
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	border: 1px gray solid;
	background-color: white;
	opacity: 1;
	z-index: 1000;
	box-shadow: 1px 1px 40px gray;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.backdrop {
	background-color: white;
	opacity: 0.5;
	position: fixed;
	width: 100%;
	height: 100%;
}

.container {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
