.container {
	width: 100%;
	user-select: none;
}

.works {
	list-style: none;

	/* display: flex;
	gap: 1rem;
	justify-content: flex-start;
	flex-wrap: wrap; */

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(calc(7rem + 5vmin), 100%), 1fr));
}

.categoriesLine {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.categories {
	display: flex;
	gap: 0.8rem;
	overflow-x: scroll;
}

.categoryButton {
	--category-color: rgb(125 125 125);
	--category-bg-color: var(--bg-color);

	border-width: 0.1rem;
	border-style: solid;
	border-color: var(--category-color);
	color: var(--category-color);
	background-color: var(--category-bg-color);
	padding: 0.5rem;
	cursor: pointer;
	border-radius: 2rem;
	justify-self: flex-start;
	min-width: max(min-content, 3rem);
	font-size: 0.8rem;
	transition: background-color 200ms;
}

.categoryButtonSelected {
	color: var(--category-bg-color);
	background-color: var(--category-color);
}

@media (hover: hover) {
	.categoryButton:hover {
		background-color: rgb(246 246 246);
	}

	.categoryButtonSelected:hover {
		background-color: rgb(151 151 151);
		border-color: rgb(151 151 151);
	}
}

@media (prefers-color-scheme: dark) {
	.categoryButton {
		--category-color: var(--main-color);
		--category-bg-color: rgb(68 68 68);
	}

	.categoryButton:hover {
		background-color: rgb(92 92 92);
	}

	.categoryButtonSelected:hover {
		background-color: rgb(170 170 170);
		border-color: rgb(170 170 170);
	}
}
