.lists {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: scroll;
}

.listTitle {
	font-weight: 600;
}

.workTitle {
	user-select: text;
	cursor: text;
}

.pageTitle {
	text-decoration: none;
	cursor: pointer;
}

.pageTitle h1 {
	cursor: inherit;
}

.image {
	width: 100%;
	height: auto;
}

.description {
	overflow: scroll;
}
