.container {
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	border: none;
	width: 100%;
	overflow: visible;
}

.image {
	border-radius: 0.7rem;
	width: 100%;
	max-height: 200px;
	object-fit: cover;
	margin-bottom: 0.5rem;
	border: 1px solid lightgray;
	box-shadow: inset;
}

.title {
	height: 2ms;
	text-align: left;
	font-weight: inherit;
}
